*{
          margin: 0;
          padding: 0;
          font-family: sans-serif;
          box-sizing: border-box;
        }
        .banner{
          width: 100%;
          height: 100vh;
          background-image: linear-gradient(rgb(0,0,0),rgb(100,0,0));
          background-position: center;
          background-size: enter;
        }
        .navbar{
          width: 90%;
          padding: 30px;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
       .logo{
         width: 160px;
         margin-top: 10px;
         cursor: pointer;
       }
       .navbar ul li{
         list-style: none;
         display: inline-block;
         margin: 20px;
       }
       .navbar ul li a{
         text-decoration: none;
         text-transform: uppercase;
         color: white;
         font-weight: 600;
       }
       li a:hover{
         background: white;
         transition: 0.5s;
       }
       .navbar a:hover{
         color: black;
       }
       .content{
         width: 100%;
         position: absolute;
         color: white;
         top: 45%;
         transform: translateY(-50%);
         text-align: center;
       }
       .content h1{
         margin-top: 80px:
         font-size: 90px:
         font-weight: 800:
       }
      .banner video{
        margin: 0%;
        padding: 0%;
        position: absolute;
        right: 0;
        bottom: 0;
      }
       @media(min-aspect-ratio:16/9){
         .banner vifeo{
           width:100%;
           height: auto;
         }
       }
            .divallleft {
              float: left;
              margin: 2.75%;
              margin-left: 10%;
              width: 23%;
            }
          
            .divallmid {
              float: left;
              margin: 2.75%;
              width: 23%;
            }

            .divallright {
              float: left;
              margin: 2.75%;
              margin-right: 10%;
              width: 23%;
            }

            .divimg {
                width: 100%;
            }

            .divtext2{
            padding-top: 2%;
            padding-bottom: 2%;
            margin-top: 2%;
            background-color: rgb(134, 134, 134);
            }

            .img20 {
                width: 100%;
            }

            .text {
                text-align: center;
            }