*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}



.banner{
  width: 100%;
  background-position: center;
}
        
.navbar{
  width: 100%; 
  padding: 30px;
  margin: auto;     
  display: flex;     
  align-items: center; 
  justify-content: space-between;
  background-image: linear-gradient(to right, black , #5c5c5c);
}

.logo{
  width: 160px;
  margin-top: 10px;
  cursor: pointer;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 20px;
}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
       
li a:hover{
  background: white;
  transition: 0.5s;
}
       
.navbar a:hover{
  color: black;
}

.content{
  width: 100%;
  position: absolute;
  color: white;
  text-align: center;
  top: 190px;
}

.content h1{
  margin-top: 20%;
  font-size: 90px;
  font-weight: 800;
}

.banner video{
  object-fit: fill;
  margin: 0%;
  padding: 0%;
  width: 100%;
  }

@media(min-aspect-ratio:16/9){
.banner vifeo{
  width:100%;
  height: auto;
  }
}

.divallleft {
  float: left;
  margin: 2.75%;
  margin-left: 10%;
  width: 23%;
}
          
.divallmid {
  float: left;
  margin: 2.75%;
  width: 23%;
}

.divallright {
  float: left;
  margin: 2.75%;
  margin-right: 10%;
  width: 23%;
}

.divimg {
  width: 100%;
}

.divtext2{
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  color: black;
}

.img20 {
  width: 100%;
   border-radius: 10px;
}

.text {
  text-align: left;
}

.productje{
  margin: 27.5%;
  margin-left: 10%;
  float: left;
  width: 45%
}

.name{
  color: #d6d6d6;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1rem;
}

.price{
  color:#d6d6d6;
  font-size: .6rem;
  font-weight: 700;
  line-height: 1rem;
}

.banner_below{
  margin-top: 100px;
  height: 60px;
}

.text_below{
  font-size: 40px;
  font-weight: 800;
  color: #d6d6d6;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  height: auto;
  text-align: center;
  background-image: linear-gradient(#5c5c5c,black);
  margin-right: 5%;
  padding: 3%;
}

.row {
  width: 100%;
  margin-top: 5%;
  margin-left: 5%;
  background-image: linear-gradient(to right, black , #404040);
}

.row h1{
  color: white;
  text-align: center;
  font-size: 250%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.row p{
  color:  white;
  font-size: 30px;
}

.myVideo {
  height: calc(56vw + 200px);
}

.prod{
  position: absolute;
  top: calc(56vw + 200px);
}

.proda{
  position: absolute;
  top: 190px;
}